{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{%  block content %}
    <form name="sentMessage" id="contactForm" method="post" novalidate>

        {% csrf_token %}
                      <div class="control-group">
                            {{ form.author|as_crispy_field }}
                      </div>
                      <div class="control-group">
                         {{ form.text|safe }}
                         {{ form.media }}
                      </div>
                      <br>
                      <div class="form-group">
                        <button type="submit" class="btn btn-primary" id="sendMessageButton">Post Comment</button>
                      </div>
    </form>
{% endblock %}

